{% extends "question_box/layout.html" %}
{% load static %}
{% block title %}
Conselling Box
{% endblock %}

{% block img %}
<img sizes="100vw 50vh" width="1600" height="1000" src="{% static 'question_box/all_questions.jpg'%}"
    alt="Students walk the stairs in Gleeson Library.">
{% endblock %}

{% block body %}
<div class="f--field f--wysiwyg">
    <h2>所有问题</h2>
</div>
<hr />
{% for box in boxes %}
<div class="border border-success box">
    <br />
    {% for q_a in box.q_a_list %}

    {% if q_a.type == "question" %}
    <div style="margin-left: 10px;">
        <span class="large">Q: {{ q_a.content.question }}</span>
        <p style="font-size: small; color:gray">提问于 {{ q_a.content.timestamp }}</p>
    </div>
    <br>

    {% elif q_a.type == "answer"  %}
    {% if q_a.content.confirmed %}
        <div style="margin-left: 100px;">
            <span class="large darkgreen"><i>A: {{ q_a.content.answer }}</i></span>
            <p style="font-size: small; color:gray">回答于 {{ q_a.content.timestamp }}</p>
        </div>
        <br>
    {% endif %}
    {% endif %}

    {% endfor %}
</div>
<br />
{% endfor %}
{% endblock %}